.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.product {
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-container:hover .img2 {
  opacity: 1;
}