.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.product {
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
}

.img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-container:hover .img2 {
  opacity: 1;
}


/* INTRO*/
.intro {
  padding: 40px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

/*CUSTOM STYLE*/
.custom-text {
  margin-top: 30px;
  text-align: center;
}

/* HERO PRODUITS */

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
}

.hero-text h1 {
  font-size: 42px;
}

.hero-text p {
  font-size: 16px;
}

/* BANDEAU BEIGE */
.info-bar {
  background: #f5e6d3;
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:hover {
  color: #c69c6d;
}

/* CAROUSEL */
.carousel {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  display: block;
}

.caption {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 20px;
}

.caption a {
  display: inline-block;
  margin-top: 10px;
  background: #c69c6d;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

/* 4 COLONNES */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.box {
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
}

/* HERO PRODUITS */
.hero {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 800px;
  z-index: 2;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
}

/* BANDEAU BEIGE */
.info-bar {
  background: #f5e6d3;
  padding: 10px;
  text-align: center;
}

.logo img {
  height: 70px;
}

.event {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
}

.event img {
  width: 40%;
}

.event div {
  width: 60%;
}

.event a {
  display: inline-block;
  margin-top: 10px;
  background: #c69c6d;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.beige {
  background: #f5e6d3;
}

.white {
  background: white;
}

.reverse {
  flex-direction: row-reverse;
}

/*A PROPOS*/
.apropos {
  background: url("../images/fond_a_propos.webp");
  background-size: cover;
}

.about {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.about img {
  width: 40%;
}

.about-text {
  background: #f5e6d3;
  padding: 20px;
  width: 60%;
}

/* FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #eee;
}

footer img {
  height: 50px;
}

/* FEATURES */
.features {
  background: #f5e6d3;
  padding: 40px;
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 30px;
}


.feature .icon {
  height: 80px;
}

.feature {
  text-align: center;
}

/* HOME PRODUCTS */
.home-products {
  padding: 40px;
}

.cta {
  text-align: center;
  margin-top: 20px;
}

.cta a {
  background: #c69c6d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* STYLE PRODUIT*/
.events-preview {
  background: #f5e6d3;
  padding: 40px;
  text-align: center;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.events-grid img {
  width: 100%;
}

.events-grid a {
  display: inline-block;
  margin-top: 10px;
  background: #c69c6d;
  color: white;
  padding: 8px;
  text-decoration: none;
}
.product h3 a {
  font-size: 30px;
  color: #ac8252;
  font-family: Arial;
  text-decoration: none;
}


/* CONTACT */
.contact-header {
  background: #f5e6d3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

.contact-header img {
  height: 80px;
}

.contact-form {
  padding: 40px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: auto;
}

input, textarea, select {
  padding: 10px;
}

button {
  background: #c69c6d;
  color: white;
  padding: 10px;
  border: none;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.contact-info img {
  height: 550px;
}

/* DETAIL PRODUIT*/
.product-page {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.product-gallery {
  display: flex;
  align-items: center;
}

.product-gallery img {
  width: 500px;
}

.product-gallery button {
  font-size: 20px;
}

.product-info {
  max-width: 400px;
}

.small-logo {
  height: 70px;
}

.price {
  font-size: 20px;
  margin: 10px 0;
}

.sizes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.sizes button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #b98a58;
  background: white;
  color: #b98a58;
}

.sizes .active {
  background: #b98a58;
  color: white;
}

/* bouton devis */
.btn-devis {
  display: block;
  text-align: center;
  padding: 10px;
  background: #ceb08f;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.pickup {
  margin-top: 20px;
  background: #f5e6d3;
  padding: 10px;
}